/*.lots, .about, .footer {
 border: 1px solid red;
 min-height: 50px;
}*/

.header {
    padding: 92px 24px 96px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.header__menu {
    grid-column: 1;
    display: flex; 
}

.header__links-list {
    list-style: circle;
    display: flex; 
    align-items: center;
    /*font-size: 18px;
    line-height: 21.13px;*/
}

.header__links-list-item {
    margin-right: 20px; 
    
}

.header__logo {
    grid-column: 2;
    justify-content: center;
    display: flex;
    width: 100%;
    /*width: 148px;
    height: 105px;*/
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.contacts {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*height: 100vh;*/
}

.contacts a {
    text-decoration: underline;
    text-underline-offset: 0.2em; 
  }  
  
.address {
    display: block;
    font-style: normal;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }  

.cover {
    background-image: url(../images/cover.jpg);
    background-size: cover; 
    
    position: relative;
   /* padding-top: 293px;
    width: 1100px;*/
    height: 757px;

}

.cover__description {
    display: flex;
    padding-top: 200px;
    padding-left: 78px;
}

.cover__title {
    position: relative; 
    z-index: 2; 
    font-weight: 700;
    font-size: 100px;
    line-height: 1;
    color: #FFFFFF;
    text-transform: uppercase;
    
}

.aligned-text {
  display: block;   /*делаем span строчным*/
  padding-top: 165px;
  padding-left: 50px; 
  letter-spacing: 0.3em;
  /*width: 316px;
  height: 115px;*/
}

.aligned-text_center {
    display: block;  /*делаем span строчным*/
 /*   width: 369px;
    height: 100px;
    padding-top: 300px;*/
    padding-left: 336px; 
    letter-spacing: 0.3em;
    
}

.aligned-text_right {
    display: block;  /*делаем span строчным*/
  /*  width: 417px;
    height: 100px;
    padding-top: 420px;*/
    padding-left: 633px; 
    letter-spacing: 0.3em;

}

.letter-spacing-extended {
    
    letter-spacing: 0.6em; 
}

.no-letter-spacing {
  display: inline-block; /* Делаем блок строчным */
  margin-right: -0.3em; /* Уменьшаем отступ справа на величину letter-spacing */


  }
  
.cover__description {
    display: inline;
    position: relative; 
    z-index: 2; 
}  

.cover__description-text {
    display: inline-block;
    word-spacing: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 400;
    height: 28px;
    padding-top: 200px;
}  

.bet-button {
    display: inline-block;
    background-color: transparent;
    width: 256px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    border: 1px solid #FFFFFF;
    /*padding-left: 794px;*/
}

.lots {
    height: 692px;
}

.lots__card-list {
    list-style: none; 
    display: flex;
    flex-wrap: wrap; 
  }
  
  .lots__card-list-item {
    /*display: flex;*/
    width: 334px;
    height: 563px;
    margin-right: 25px;
    /*gap: 25px; */
    flex-grow: 1;
  }

  .card-link {
    display: block;
    text-decoration: none;
    position: relative;
    height: 100%;
    
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  
  .card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
  }
  
  .card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
  }
  
  .card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
  }

  .card__title {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 51px;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #FFFFFF;
    
  }
  
  .card__text {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 48px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
  }
  
  .about {
    display: flex;
    border: 1px solid red;
    height: 595px;
  }

  /*.about__column {
    flex-grow: 1;
    
    
  }*/

  .about__column-left {
    /*position: flex;*/
    width: 334px;
}

.about__column-right {
    flex-grow: 1; 
  }
  
.about__logo { 
    /*padding-left: 47px;
    padding-top: 35px;   */
  width: 240px; 
  height: 240px; 
  border-radius: 50%; 
  background-color: black; 
  display: flex;
  justify-content: center; 
}

.about__logo-image {
  width: 114px; /* Размер логотипа */
  height: auto;

}